body {
	height: 100%;
	font-family: 'Nunito', sans-serif; /*указал шрифт*/
	color: white;
	margin: 0 auto;
	background: #212121;
}

body ::selection {
	background: black;
}

body::-webkit-scrollbar {
	width: 12px; /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
	background: #2e2e2e; /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
	background-color: #212121; /* цвет плашки */
	border-radius: 20px; /* закругления плашки */
	border: 3px solid #2e2e2e; /* padding вокруг плашки */
}

header {
	background: #4B515D;
	font-size: 30px;
	list-style: none;
	padding-top: 10px;
	border-radius: 0 0 15px 15px;
}

img.siteIcon {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}

img {
	max-height: 100%;
	max-width: 100%;
}

li.sections {
	display: inline;
	padding: 20px;
	text-align: right;
	color: white;
}

/*
.searchString input {
	position: absolute; 
	top: 40px;
	right: 100px;
	width: 300px;
	height: 40px;
	padding-left: 10px;
	border: 2px solid #2E2E2E;
	border-radius: 5px;
	outline: none;
	background: #212121;
	color: white;
}

.searchString button {
	position: absolute; 
	top: 42px;
	right: 100px;
	width: 42px;
	height: 42px;
	border: none;
	background: #2E2E2E;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.searchString button:before {
	font-family: FontAwesome;
	font-size: 16px;
	color: #F9F0DA;
}
*/

div.wrapper {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    flex-direction: row;

	justify-content: center;
	align-content: space-between;
	align-items: center;
	flex-direction: column;

	min-height: 100%;
}

div.app {
	display: inline-block;
	border:1px solid black;
	text-align: center;
	padding: 30px;
	max-width: 2000px;
	background: #2e2e2e;
	border-radius: 10px;
	margin: 15px;
	flex: 1 1 auto;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #000;
}

a.sections:hover {
	color: white;
	background: #2e2e2e;
	padding: 5px;
	border-radius: 5px;
}

.description {
	font-size: 30px;
} 

.forLink {
	font-size: 30px;
}

span.appName {
	font-size: 25px;
}

button {
	color: white;
	font-size: 15px;
}

footer {
	background: #4B515D;
	font-size: 25px;
	list-style: none;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	border-radius: 15px 15px 0 0;
}

p.contacts {
	text-align: center;
}

div.news {
	display: inline-block;
	border:1px solid black;
	text-align: center;
	padding: 30px;
	max-width: 2000px;
	background: #2e2e2e;
	border-radius: 10px;
	margin: 15px;
}

.italicFont {
	font-style: italic;
}

.newsText {
	font-size: 35px;
}

a.playButton {
	padding: 7px;
	color: white;
	font-size: 35px;
	background-color: #212121;
	border-radius: 5px;
}

a.playButton:hover {
	padding: 10px;
	color: #000;
}

p.titleSite {
	display: inline;
	font-size: 70px;
	background-color: #2e2e2e;
	text-align: center;
	margin-top: 10px;
	padding-left: 43%;
	padding-right: 43%;
}

a.tinkoff {
	color: white;
	background-color: #212121;
	border-radius: 5px;
	padding: 3px;
}

a.tinkoff:hover {
	color: #000;
	padding: 5px;
}

a.forLink {
	padding: 7px;
	color: white;
	font-size: 35px;
	background-color: #212121;
	border-radius: 5px;
}

a.forLink:hover {
	padding: 10px;
	color: #000;
}

img.appIcon {
	border-radius: 25px;
}